/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea/
/frontend/sandip_ui/node_modules
frontend/sandip_ui/package-lock.json
/frontend/npm-debug.log
npm-debug.log
